
text {
	font-family: sans-serif;
	font-size: 9pt;
}
.brush{
	fill-opacity: 0;
	fill: orange;
	stroke: black;
	shape-rendering: crispEdges;
}
circle {
	fill-opacity: 0.8;
}
.bgcircle{
	fill: black;

}
g { border: none; padding:0pxs	; margin:0px; }
.selectionrect {
	fill: ;
}
.legend {
	padding-left: 50;
	font-family: 'helvetica neue', helvetica, garamond, verdana;
}
.legend div {
	padding-right: 10px;
}

div.xlabel, div.ylabel {
	margin: 10px;
	text-align: center;
}

#rawdata {
	height: 300px;
	overflow-y: scroll;
}

.btn {
	width: 100%;
	margin: 5px;
}

.vtext {
	-moz-transform: rotate(-90deg) translate(0, 100%);
   -moz-transform-origin: 0% 100%;
   -o-transform: rotate(-90deg) translate(0, 100%);
   -o-transform-origin: 0% 100%;
   -webkit-transform: rotate(-90deg) translate(0, 100%);
   -webkit-transform-origin: 0% 100%;
   transform: rotate(-90deg) translate(0, 100%);
   transform-origin: 0% 100%;
}

#sql-query-text {
	display: block;
}
