<html>
<head>
	<link rel="stylesheet" type="{{url_for('static',filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/ui-lightness/jquery-ui-1.8.19.custom.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">

	<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui-1.8.19.custom.min.js')}}" ></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/d3.v2.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/colorbrewer.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/QVisBase.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/QVisScatterPlot.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/QVisMapPlot.js')}}" ></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/QVisHeatMap.js')}}" ></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>


<body style="margin: 20px;">
	<form id="sql-query-form" method="post">
		<textarea id="sql-query-text" name="text" placeholder="Write query here." rows="6" cols="100"></textarea>
		<label for="vis-type">Visualizations</label>
		<select name="vis-type" id="vis-type-menu">
			<option value="scatterplot">Scatterplot</option>
			<!--<option value="linechart">Line chart (not currently supported)</option>-->
			<option value="mapplot">Map plot</option>
			<!--<option value="histogram">Histogram (not currently supported)</option>-->
			<option value="heatmap">Heat map</option>
		</select>
		<label for="resolution-lvl">Resolution</label>
		<select name="resolution-lvl" id="resolution-lvl-menu">
			<option value="100">100</option>
			<option value="1000">1000</option>
			<option value="4000">4000</option>
			<option value="10000">10000</option>
			<option value="40000">40000</option>
			<option value="100000">100000</option>
		</select>
		<input type="submit" id="sql-query-submit" value="Submit Query"></input>
	</form>
	<h2 id="resulting-plot-header" class="heading">Resulting Plot<small></small></h2>
	<div id="aggplot">
		<div class="legend"></div>
		<svg></svg>
		<div id="map">
			<div></div>
		</div>
		<form>
			<div name="xlabel" class="xlabel">
				<label for="xaxis-select" id="xlabel-select">x Axis: </label>
				<div id="xlabel-radio">
					<input type="radio" id="xlabel-radio1" name="xlabel-radio" value="invert"/><label for="xlabel-radio1">invert</label>
					<input type="radio" id="xlabel-radio2" name="xlabel-radio" checked="checked"  value=""/><label for="xlabel-radio2">none</label>
				</div>
			</div>
			<div name="ylabel" class="ylabel">
				<label for="yaxis-select" id="ylabel-select">y Axis: </label>
				<div id="ylabel-radio">
					<input type="radio" id="ylabel-radio1" name="ylabel-radio" value="invert"/><label for="ylabel-radio1">invert</label>
					<input type="radio" id="ylabel-radio2" name="ylabel-radio" checked="checked" value=""/><label for="ylabel-radio2">none</label>
				</div>
			</div>
			<div name="zlabel" class="zlabel">
				<label for="zaxis-select" id="zlabel-select">z Axis (color): </label>
				<div id="zlabel-radio">
					<input type="radio" id="zlabel-radio1" name="zlabel-radio" value="invert"/><label for="zlabel-radio1">invert</label>
					<input type="radio" id="zlabel-radio2" name="zlabel-radio" checked="checked" value=""/><label for="zlabel-radio2">none</label>
				</div>
			</div>
			<div id="update-submit-div">
				<input type="submit" id="vis-update-submit" class="update-submit" value="Submit"></input>
			</div>
		</form>
	</div>
	<div id="dialog" title="Basic dialog">
		<form id="reduce-type-form" >
			<fieldset>
				<label for="reduce_type">Res Reduction Type</label>
				<select name="reduce_type" id="reduce-type-menu">
					<option value="AGGR">aggregate</option>
					<option value="SAMPLE">sample</option>
					<option value="FILTER">filter</option>
					
				</select>
			</fieldset>
			<fieldset id="reduce-type-special">
				<div id="filter-spec" class="spec filter">
					<label for="predicate">Predicate Filter</label>
					<input type="text" id="reduce-type-filter-predicate" name="predicate" placeholder="Write predicate here."></input>
				</div>
			</fieldset>
			


			<input type="submit" id="reduce-type-form-submit"></input>
		</form>
	</div>
</body>


</html>
